<%- include("header") -%>

<h2>This is about page</h2>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit voluptate, eveniet necessitatibus sint libero labore possimus nemo tenetur laudantium eos nostrum ducimus cum maxime tempora!
</p>

<%- include("footer") -%>